<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="RequestTypes">
      <section name="appSettings" type="System.Configuration.NameValueFileSectionHandler" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <RequestTypes>
    <appSettings>
      <add key="طلب حج جديد" value="1" />
      <add key="طلب مساعدة جديد"  value="2"/>
    </appSettings>
  </RequestTypes>
  <appSettings>
    <add key="SP_URL" value="http://zf-sp/sites/testSitecollection" />
    <add key="ListName" value="TestForClientsListInstance1" />
    <add key="ImageLibraryName" value="TestForClientsImages" />
    <add key="DispForm" value="http://zf-sp/sites/testSitecollection/Lists/TestForClientsListInstance1/DispForm.aspx?ID=" />

    <add key="NewHajjRequestForm" value="http://zf-sp/_layouts/15/EIDAReaderForHajj/NewHajjFormWithEIDAReader.aspx" />
    <add key="NewAidRequestForm" value="http://zf-sp/sites/testSitecollection/SitePages/TestForNewAidRequest.aspx" />

    <add key="InfoPathEditForm" value="http://zf-sp/sites/testSitecollection/Lists/TestForClientsListInstance1/Item/editifs.aspx?ID=" />
    <add key="UserName" value="zayed\ibrahim.k" />
    <add key="Password" value="Thank$123" />
  </appSettings>
</configuration>