<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="SP_URL" value="http://zf-sp/sites/testSitecollection" />
    <add key="ListName" value="TestForClientsList" />
    <add key="ImageLibraryName" value="TestForClientsImages" />
    <add key="DispForm" value="http://zf-sp/sites/testSitecollection/Lists/TestForClientsList/DispForm.aspx?ID=" />
  </appSettings>
</configuration>