<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="RequestTypes">
      <section name="appSettings" type="System.Configuration.NameValueFileSectionHandler" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <RequestTypes>
    <appSettings>
      <add key="طلب مساعدة جديد"  value="1"/>
      <add key="طلب حج جديد" value="2" />
    </appSettings>
  </RequestTypes>
  <appSettings>
    <add key="SP_URL" value="http://zf-sp/orgchart/ProgramsDepartment/" />
    <add key="ListName" value="Clients" />
    <add key="ImageLibraryName" value="ClientsImages" />
    <add key="DispForm" value="http://zf-sp/orgchart/ProgramsDepartment/Lists/Clients/Item/displayifs.aspx?ID=" />
    
    <add key="NewAidRequestForm" value="http://zf-sp/orgchart/ProgramsDepartment/Pages/NewAidRequestIP.aspx" />
    <add key="NewHajjRequestForm" value="http://zf-sp/Pages/default.aspx" />
    <add key="PreviousRequestsLink" value="http://zf-sp/orgchart/ProgramsDepartment/Pages/PreviousRequests.aspx?ID=" />

    <add key="UserName" value="zayed\spadmin" />
    <add key="Password" value="SP@ZF2017" />
    <add key="CheckIfUserExisting" value="true" />

  </appSettings>
</configuration>